* html .menu-section .menu-item{
	margin: 0 33px;
}

.menu-section .item1{
	background: url("../images/lte ie8/tickets_bg_png8.png") 0 0 no-repeat;
}

.menu-section .item2{
	background: url("../images/lte ie8/camera_bg_png8.png") 0 0 no-repeat;
}

.menu-section .item3{
	background: url("../images/lte ie8/beer_bg_png8.png") 0 0 no-repeat;
}

.menu-section .item4{
	background: url("../images/lte ie8/iphone_bg_png8.png") 0 0 no-repeat;
}